.listing-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
    padding: 30px;
  }
  
  .listing-heading {
    font-size: 38pt;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .listing-location::before {
    content: url('/assets/location-pin.svg') / '';
  }
  
  .listing-location {
    font-size: 20pt;
    margin-bottom: 10px;
  }
  
  .listing-features > .section-heading {
    color: var(--secondary-color);
    font-size: 20pt;
    margin-bottom: 15px;
  }
  
  .listing-features {
    margin-bottom: 20px;
  }
  
  .listing-features li {
    font-size: 14pt;
  }
  
  li {
    list-style-type: none;
  }
  
  
 
  @media (max-width: 1024px) {
    .listing-photo {
      width: 100%;
    }
  }

  .example-card{
    max-width: 400px;
  }

  mat-card{
    background-color: #fafafa;
    margin: 50px;
    padding: 20px;
    height: 800px;
    border-radius: 30px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }
